        <ion-modal-view>
          <ion-header-bar class="bar bar-header bar-positive">
          <button class="button button-icon ion-android-arrow-back" ng-click="closeModal()"></button>
        </ion-header-bar>
        <ion-content class="bodyContentweather">
          <div>
             <div class="list card">
            <div class="item item-body">
          <h1 class="">{{weather.name}}</h1>
          <p class="temparature">Temperature:{{weather.main.temp}}&#x2109;</p>
          <p class="temparature">pressure:{{weather.main.pressure}}</p>
          <p class="temparature">speed:{{weather.wind.speed}}</p>
          <p class="temparature">humidity:{{weather.main.humidity}}</p>
          <p class="temparature">id:{{id}}</p>
        </div>
             </div>
          </div>
        </ion-content>
        </ion-modal-view>